*{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar{
    position: fixed!important;
    background-color:rgb(54, 19, 9,0.6);
    box-shadow:0 0 10px 0 black;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar-logo img{
    border-radius:50%;
}
.nav-items{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90px;
    overflow: hidden;
}
.nav-items img{
    border-radius:50%;
}
.nav-items li{
    display:inline-block;
    list-style: none;
    padding:34px!important;
}
.nav-items li.active{
    background-color: #ffe5b4;
}
.nav-items li.active a{color:black}

.nav-items li:hover{
    background-color: #ffe5b4;
    transition:0.5s linear;
}
.nav-items li:hover a{color:black   }
