*{
    margin: 0 !important;
    padding: 0 !important;
}
.navbar{
    position: fixed!important;
    background-color:rgb(54, 19, 9,0.6);
    box-shadow:0 0 10px 0 black;
    z-index: 999;
}

.navbar a{
    text-decoration: none;
    color: white;
}
.navbar-logo img{
    border-radius:50%;
}
.nav-items{
    display: flex;
    justify-content:center;
    align-items: center;
    height: 90px;
    overflow: hidden;
}
.nav-items img{
    border-radius:50%;
}
.nav-items li{
    display:inline-block;
    list-style: none;
    padding:34px!important;
}
.nav-items li.active{
    background-color: #ffe5b4;
}
.nav-items li.active a{color:black}

.nav-items li:hover{
    background-color: #ffe5b4;
    transition:0.5s linear;
}
.nav-items li:hover a{
    color:black;
}
.background{
    height: 100%;
    width: 100%;
    background-image: url(/Dofe/img/container.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.title-header{
    position: absolute;
    bottom: 0;
    width: 50%;
    font-size:170px;
    color:#FFFFFF1F;
    font-family:Oswald,sans-serif;
    font-weight: 600;
    line-height: 1em;
    letter-spacing: 0px;
}